# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea

coverage
cmake-build-debug
*.gcno
*.gcda
unittests
site
CWSDPMI.SWP
game12k
gm
Xcode2/Derelict3D.xcodeproj/monty.mode1
Xcode2/Derelict3D.xcodeproj/monty.pbxuser
Xcode2/Derelict3D.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/IDEFindNavigatorScopes.plist
Xcode2/Derelict3D.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/UserInterfaceState.xcuserstate
Xcode2/Derelict3D.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/xcdebugger/Expressions.xcexplist
Xcode2/Derelict3D.xcodeproj/xcuserdata/monty.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Xcode2/Derelict3D.xcodeproj/xcuserdata/monty.xcuserdatad/xcschemes/xcschememanagement.plist
mx_frontend/game.data
mx_frontend/game.html
mx_frontend/game.js
mx_frontend/game.wasm
LevelEditor32/Assets/Map.txt
LevelEditor32/Assets/Map.txt.meta
LevelEditor32/Assets/Tiles.prp
LevelEditor32/Assets/Tiles.prp.meta
my_frontend/demo.rom
my_frontend/demo_BSS.bin
my_frontend/demo_DATA.bin
my_frontend/derelict.com
my_frontend/CPCVersion/game.cdt
my_frontend/CPCVersion/game.dsk
