[submodule "core/googletest"]
	path = core/gtest
	url = https://github.com/google/googletest
[submodule "core/googlemock"]
	path = core/gmock/googlemock
	url = https://github.com/google/googlemock
[submodule "cmake-modules"]
	path = cmake-modules
	url = https://github.com/bilke/cmake-modules
[submodule "my_frontend/src/neslib"]
	path = my_frontend/src/neslib
	url = https://github.com/TheFakeMontyOnTheRun/neslib
