# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea

mx_frontend/DerelictMacOSClassic/Derelict
mx_frontend/Xcode2/build/
**/.DS_Store
coverage
cmake-build-debug
*.gcno
*.gcda
unittests
site
CWSDPMI.SWP
game12k
gm
Xcode2/Derelict3D.xcodeproj/monty.mode1
Xcode2/Derelict3D.xcodeproj/monty.pbxuser
Xcode2/Derelict3D.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/IDEFindNavigatorScopes.plist
Xcode2/Derelict3D.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/UserInterfaceState.xcuserstate
Xcode2/Derelict3D.xcodeproj/project.xcworkspace/xcuserdata/monty.xcuserdatad/xcdebugger/Expressions.xcexplist
Xcode2/Derelict3D.xcodeproj/xcuserdata/monty.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Xcode2/Derelict3D.xcodeproj/xcuserdata/monty.xcuserdatad/xcschemes/xcschememanagement.plist
mx_frontend/game.data
mx_frontend/game.html
mx_frontend/game.js
mx_frontend/game.wasm
LevelEditor32/Assets/Map.txt
LevelEditor32/Assets/Map.txt.meta
LevelEditor32/Assets/Tiles.prp
LevelEditor32/Assets/Tiles.prp.meta
my_frontend/demo.rom
my_frontend/demo_BSS.bin
my_frontend/demo_DATA.bin
my_frontend/derelict.com
my_frontend/CPCVersion/game.cdt
my_frontend/CPCVersion/game.dsk
/core/blues
UserInterfaceState.xcuserstate
my_frontend/demo.bin
my_frontend/demo.tap
my_frontend/demo_BANK_7.bin
sms.c
mz_frontend/gameocs
mz_frontend/out.bin
mz_frontend/out.elf
mz_frontend/symbol.txt
mz_frontend/data/datastrip
mz_frontend/data/packer
mz_frontend/MSDOSVersion/derelict.com
my_frontend/MasterSystem/bank0.asm
my_frontend/MasterSystem/bank0.c
my_frontend/MasterSystem/bank0.ihx
my_frontend/MasterSystem/bank0.lk
my_frontend/MasterSystem/bank0.lst
my_frontend/MasterSystem/bank0.map
my_frontend/MasterSystem/bank0.noi
my_frontend/MasterSystem/bank0.rel
my_frontend/MasterSystem/bank0.sms
my_frontend/MasterSystem/bank0.sym
my_frontend/MasterSystem/test2.ihx
my_frontend/MasterSystem/test2.lk
my_frontend/MasterSystem/test2.lst
my_frontend/MasterSystem/test2.map
my_frontend/MasterSystem/test2.noi
my_frontend/MasterSystem/test2.rel
my_frontend/MasterSystem/test2.sms
my_frontend/MasterSystem/test2.sym
my_frontend/MasterSystem/your_program.lk
my_frontend/MasterSystem/test.ihx
my_frontend/MasterSystem/test.lk
my_frontend/MasterSystem/test.lst
my_frontend/MasterSystem/test.map
my_frontend/MasterSystem/test.noi
my_frontend/MasterSystem/test.rel
my_frontend/MasterSystem/test.sms
my_frontend/MasterSystem/test.sym
my_frontend/MasterSystem/test2.asm
derelict.sms
test.asm
my_frontend/MasterSystem/derelict_BANK_1F.bin
my_frontend/MasterSystem/derelict_BSS.bin
my_frontend/MasterSystem/derelict_DATA.bin
my_frontend/demo.msx
my_frontend/src/demo.asm
my_frontend/src/demo.lst
my_frontend/src/demo.sym
my_frontend/src/gb.asm
my_frontend/src/gb.lst
my_frontend/src/gb.sym
my_frontend/derelict_BANK_1F.bin
my_frontend/derelict_BSS.bin
my_frontend/derelict_DATA.bin
my_frontend/CPCVersion/obj/.folder
my_frontend/CPCVersion/obj/prebuildstep.objectfile
my_frontend/CPCVersion/obj/dsk_files/.folder
my_frontend/CPCVersion/src/Engine3D.h
core/src/Core.asm
core/src/Core.lst
core/src/Core.sym
core/src/Derelict.asm
core/src/Derelict.lst
core/src/Derelict.sym
my_frontend/demo.ihx
my_frontend/demo.noi
my_frontend/derelict.bin
my_frontend/derelict.cpc
my_frontend/derelict.dsk
lcov-output.info
packer
derelict.com
my_frontend/out.bin
my_frontend/out.elf
my_frontend/symbol.txt
game.html.mem
Breakpoints_v2.xcbkptlist
my_frontend/CMakeFiles
my_frontend/cmake_install.cmake
my_frontend/CMakeCache.txt
my_frontend/derelict8
mx_frontend/iOSQuartz/Derelict3D.xcodeproj/xcuserdata
game
LevelEditor32/Library/Artifacts
LevelEditor32/Library/PackageCache
LevelEditor32/Library/ShaderCache
LevelEditor32/Library/ScriptAssemblies
LevelEditor32/Library
LevelEditor32/Logs
derelict.rom
mz_frontend/CMakeFiles
derelict16
CMakeCache.txt
cmake_install.cmake
mx_frontend/CMakeFiles
derelict32
derelict32.cbp
gl_frontend/Xcode2_gl1/Derelict64.xcodeproj/monty.mode1
gl_frontend/Xcode2_gl1/Derelict64.xcodeproj/monty.pbxuser
gl_frontend/gl_frontend.elf
gl_frontend/gl_frontend.nds
mx_frontend/mx_frontend.elf
mx_frontend/mx_frontend.gba
mx_frontend/gameaga
mx_frontend/gamecd32
mx_frontend/Derelict3D_aga.adf
mz_frontend/Derelict3D_ocs.adf
game.prg
mx_frontend.sav
game.map
dosbox-x.conf
core/doxysite
monty.mode1
monty.pbxuser
my_frontend/Xcode2/build
tools/wobj-compiler/target/wobj-compiler-1.0-SNAPSHOT-jar-with-dependencies.jar
tools/wobj-compiler/target/wobj-compiler-1.0-SNAPSHOT.jar
tools/wobj-compiler/target/classes/pt/b13h/wavefrontcompiler/CompilerApp$1.class
tools/wobj-compiler/target/classes/pt/b13h/wavefrontcompiler/CompilerApp.class
tools/wobj-compiler/target/libs/gameutils-1.0-SNAPSHOT.jar
tools/wobj-compiler/target/libs/liboldfart-1.0-SNAPSHOT.jar
tools/wobj-compiler/target/libs/libstrip-1.0-SNAPSHOT.jar
tools/wobj-compiler/target/maven-archiver/pom.properties
tools/wobj-compiler/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
tools/wobj-compiler/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
derelict.elf.map
ee_frontend/derelict_ee.elf
ee_frontend/build/derelict_gx.elf.map
mx_frontend/derelict.elf
mx_frontend/derelict.gba
ee_frontend/derelict_gx.dol
ee_frontend/derelict_gx.elf
ee_frontend/derelict_wii.dol
ee_frontend/derelict_wii.elf
derelict_wii.elf.map
ee_frontend/CMakeFiles/derelict128.dir
ee_frontend/CMakeFiles
ee_frontend/derelict128
ee_frontend/Makefile
ee_frontend/game.data
ee_frontend/game.html
ee_frontend/game.js
ee_frontend/game.wasm
ee_frontend/game.data
ee_frontend/index.html
ee_frontend/index.js
ee_frontend/index.wasm
ee_frontend/index.data
ee_frontend/.cmake
ee_frontend/.ninja_*
ee_frontend/Testing
ee_frontend/build.ninja
/tools/wobj-compiler/target/
derelict.ram
derelict64.z64
gl_frontend/build
font.font64
IDEWorkspaceChecks.plist
gl_frontend/derelict.elf
gl_frontend/derelict.nds
filesystem
distiller
trigger
derelict.tap
newtrigger
xcschememanagement.plist
out.ram
